
@{
    ViewBag.Title = "Orders";
}

<h2>Pending orders</h2>

<table>
    <tr>
        <th width="100">Masa</th>
        <th width="500">Denumirea</th>
        <th width="100"></th>
    </tr>
    @foreach (var p in ViewBag.pendingOrders)
    {
        <tr>
            <td>@p.tableId</td>
            <td>@p.pizzas</td>
            <td><a href="/Orders/SetPreparing/@p.id">Prepare</a></td>
        </tr>
    }
</table>

<br />
<br />

<h2>Preparing orders</h2>

<table>
    <tr>
        <th width="30">Masa</th>
        <th width="500">Pizzas</th>
        <th width="100"></th>
    </tr>
    @foreach (var p in ViewBag.preparingOrders)
    {
        <tr>
            <td>@p.tableId</td>
            <td>@p.pizzas</td>
            <td><a href="/Orders/SetDone/@p.id">Done</a></td>
        </tr>
    }
</table>