@{
    ViewBag.Title = "Home Page";
}

<h3>Pizza's</h3>

<table>
    <tr>
        <th width="100"></th>
        <th width="300">Denumirea</th>
        <th width="100">Pret</th>
        <th width="500">Ingrediente</th>
        <th width="50"></th>
    </tr>
    @foreach(var p in ViewBag.Pizzas)
    {
    <tr>
        <td><img src="@Url.Content("~/Content/Images/" + p.name +  ".jpg")" width="100" height="100" /></td>
        <td>@p.name</td>
        <td>@p.price</td>
        <td>@p.ingredients</td>
        <td><input type="text" id="txtName" runat="server" /></td>
    </tr>
    }
</table>